<footer>
  <div class="footer">
      <p class="footer-content"> Copyright 2021 </p>
    </div>
    <!-- <script type="module" src="http://localhost:3000/scroll.js"></script> -->
    <script>
function list() {
  console.log(added_movie);
}
</script>
</footer>

</body>
</html>
