<footer>
  <div class="footer">
      <p class="footer-content"> Copyright 2021 </p>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</footer>
</body>
</html>
