<%- include('partials/header'); %>
<div class="aboutus-div">

<div class="aboutus-heading">
  <h1>AboutUs</h1>
<div class="heading-line line" data-aos="about-heading-Line" data-aos-delay="20"data-aos-duration="2000">

</div>
</div>

<div class="about-us-content-div">
<p>We are a team of two Engineering students, who have successfully developed this amazing application designed
to recommend best movies to user specific to his/her choice. We have used multiple
languages to design the application with simple and efficient recommender system using
content based collabarative technique. The application comes
with an efficient search engine which works on edit distance and a user friendly interface
which gives an ease to search and rate the exact movie in order to continue for
further tasking. It uses IMDB rating system to produce rating of movies with popularity and other
information.
<br>
In a nutshell, "Movie Recom" is a complete package to explore cinema and find the best movie
to watch next.
<br>
Hope you will like the application! Enjoy using.
<br>
Team, <br>
Kanishk Deshwal <br>
Ayush Gupta <br>
</p>
</div>
</div>
<div class="footer-div">
  <div class="footer">
    <div class="contact-us">
      <ul class="list-inline">
        <li class="list-inline-item"><button style="color:#b8b4af" class="contactus-btn" onclick="showcontactdiv()">Contact Us</button></li>
    <div style="background-color:#c3faff45" class="contactus-content">
    <p style="color: #0c2f2f;align-items:left">deshwalkanu88@gmail.com</p>
    <p style="color: #0c2f2f;align-items:left">gupta.ayush211099@gmail.com</p>
  </div>
                 <li class="list-inline-item"><a style="color:#b8b4af" href="/about">About Us</a></li>
                 <li class="list-inline-item back-to-top"><button style="color:#b8b4af" class="back-to-top-btn" type="button">Back to top<span><img style="color:#b8b4af" src="/images/arrow.png" width="12px" height="12px" alt=""></span></button></li>

             </ul>
    </div>
      <p class="footer-content" style="color:#a6a3a3;opacity:0.6"> Movierecom © <%= curyear %></p>
    </div>
</div>
<%- include('partials/footer'); %>
